<footer class="page-footer font-small pt-4" style="background-color: #03011e">

    <div class="container">

        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item mx-1">
                <a href="#" class="btn-floating ">
                    <img src="images/telegram.png" alt="" height="40" class="img-responsive">
                </a>
            </li>
            <li class="list-inline-item mx-1">
                <a href="#" class="btn-floating">
                    <img src="images/instagram.png" alt="" height="40" class="img-responsive">
                </a>
            </li>
            <li class="list-inline-item mx-1">
                <a href="#" class="btn-floating">
                    <img src="images/linkedIn.png" alt="" height="40" class="img-responsive">
                </a>
            </li>
            <li class="list-inline-item mx-1">
                <a href="#" class="btn-floating">
                    <img src="images/facebook.png" alt="" height="40" class="img-responsive">
                </a>
            </li>
        </ul>
    </div>

    <div class="footer-copyright text-center py-2" style="background-color: black; color: white">
        2019
    </div>
</footer>
