<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1107c3">
    <a href="#"class="navbar-brand">SkillsIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-row-reverse">
            <li class="nav-item col-md-6">
                <a href="#" class="nav-link col-md-6-text ">rrrrrr</a>
            </li>
        </ul>
    </div>
</nav>
